/* 
  I certify that the CSS file I am submitting is all my own work. 
  None of it is copied from any source or any person. 
  Signed: Keagan Haar.
*/

/*
  Author: Keagan Haar
  Date: 8/13/2023 
  Class: CSC135 
  Project: Final
  Description: Final project.
*/


/* color schemes all listed below */
.light-color-scheme-color-one {
  background-color: #d4eafe;
  border: 1px solid #0C2D48;
}
  
.light-color-scheme-color-two {
  background-color: #F0FFFF;
  border: 1px solid #0C2D48;
}
  
.light-color-scheme-color-three {
  background-color: #FFF8DC;
  border: 1px solid #0C2D48;
}
  
.dark-color-scheme-color-one {
  background-color: #0C2D48;
  border: 1px solid #FFFFFF;
}
  
.dark-color-scheme-color-two {
  background-color: #2b444d;
  border: 1px solid #FFFFFF;
}
  
.dark-color-scheme-color-three {
  background-color: #366088;
  border: 1px solid #FFFFFF;
}
  
.light-text-color {
  color: #FFFFFF;
}
  
.dark-text-color {
  color: #0C2D48;
}

/* class for repeated properties */
.centered-column-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
/* Website boundaries */
html, body {
    min-height: 100vh;
}

/* Body flex and design */
body {
  box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    list-style-position: inside;
    margin: 0;
}

/* Starting grid and design */
#main {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "text text text"
    "table table table";
    width: 70%;
    margin: 1em auto;
    padding: 1em;
    font-size: large;
}

/* Nav padding */
nav {
    padding-bottom: 1em;
}

/* Main content design */
#main-header-container {
    grid-area: header;
    padding: 0.5em 3em;
}

#page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

/* First ID grid */
#main-content-text {
    grid-area: text;
}

/* Third ID grid */
#table {
    grid-area: table;
    margin: 1em;
}

#color-mode-btn {
  cursor: pointer;
}

/* hide elements for small and medium screens by default */
.small-screen, .medium-screen {
  display: none;
}

/* Different screen size adjustments */
@media screen and (max-width: 780px) {
  .large-screen {
    display: none;
  }

  .medium-screen {
      display: block;
  }

  #main {
      font-size: small;
      grid-template-areas: 
    "header header header"
    "text text text"
    "table table table";
  }
}

/* query for small screen widths */
/* hide elements for medium screens */
/* show elements for small screens */
/* change main content font size */
@media screen and (max-width: 480px) {
  .medium-screen {
      display: none;
  }

  .small-screen {
      display: block;
  }

  details {
    padding-bottom: 1em;
  }

  #main {
      font-size: smaller;
  }

  #table {
    font-size: x-small;
  }
}