/* 
  I certify that the CSS file I am submitting is all my own work. 
  None of it is copied from any source or any person. 
  Signed: Chase Shertzer.
*/

/*
  Author: Chase Shertzer
  Date: 8/13/2023 
  Class: CSC135 
  Project: Final
  Description: Final project.
*/

/* classes for color modes */
.light-color-scheme-color-one {
  background-color: #d4eafe;
  border: 1px solid #0C2D48;
}

.light-color-scheme-color-two {
  background-color: #F0FFFF;
  border: 1px solid #0C2D48;
}

.light-color-scheme-color-three {
  background-color: #FFF8DC;
  border: 1px solid #0C2D48;
}

.dark-color-scheme-color-one {
  background-color: #0C2D48;
  border: 1px solid #FFFFFF;
}

.dark-color-scheme-color-two {
  background-color: #2b444d;
  border: 1px solid #FFFFFF;
}

.dark-color-scheme-color-three {
  background-color: #366088;
  border: 1px solid #FFFFFF;
}

.light-text-color {
  color: #FFFFFF;
}

.dark-text-color {
  color: #0C2D48;
}

/* class for common flex containers */
.centered-column-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* set page to viewport size at minimum */
html, body {
  min-height: 100vh;
}

/* set body as column flex container */
/* body's flex items are spaced to take up body's entire height */
/* color and text-align properties are cascaded down to children */
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  list-style-position: inside;
  margin: 0;
}

/* set main content area as a grid container */
/* grid size: three columns by four rows */
/* columns maintain equal widths */
/* main content takes up 70% of body's width */
#main {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "header header header"
  "card-one card-two card-three";
  width: 70%;
  margin: 1em auto;
  padding: 1em;
  font-size: large;
}

/* additional padding under nav links */
nav {
  padding-bottom: 1em;
}

/* sizing limit on images */
/* images appear clickable */
img {
  max-width: 50%;
  cursor: pointer;
  border: 1px solid black;
}

/* main content header styling */
/* occupies "header" grid areas */
#main-header-container {
  grid-area: header;
  padding: 0.5em 3em;
}

/* main content text occupies "text" grid areas */
#main-header-text {
  grid-area: text;
}

/* product card styling */
.main-content-container {
  margin: 1em 2em;
  padding: 0.5em;
}

#page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

/* set product card one's grid area */
#product-card-one {
  grid-area: card-one;
}

/* set product card two's grid area */
#product-card-two {
  grid-area: card-two;
}

/* set product card three's grid area */
#product-card-three {
  grid-area: card-three;
}

#color-mode-btn {
  cursor: pointer;
}

/* hide elements for small and medium screens by default */
.small-screen, .medium-screen {
  display: none;
}

/* breakpoint for smaller screens */
/* display each product card on its own row */
@media screen and (max-width: 780px) {
  .large-screen {
    display: none;
  }

  .medium-screen {
      display: block;
  }

  #main {
    font-size: small;
    grid-template-areas: 
    "header header header"
    "card-one card-one card-one"
    "card-two card-two card-two"
    "card-three card-three card-three";
  }
}

/* query for small screen widths */
/* hide elements for medium screens */
/* show elements for small screens */
/* change main content font size */
@media screen and (max-width: 480px) {
  .medium-screen {
      display: none;
  }

  .small-screen {
      display: block;
  }

  details {
    padding-bottom: 1em;
  }

  #main {
      font-size: smaller;
  }
}