/* 
I certify that the CSS file I am submitting is all my own work. 
None of it is copied from any source or any person. 
Signed: Chase Shertzer. 
*/

/*
Author: Chase Shertzer
Date: 8/13/2023 
Class: CSC135 
Project: Final
Description: Final project.
*/

/* classes for color modes */
.light-color-scheme-color-one {
  background-color: #d4eafe;
  border: 1px solid #0C2D48;
}
  
.light-color-scheme-color-two {
  background-color: #F0FFFF;
  border: 1px solid #0C2D48;
}
  
.light-color-scheme-color-three {
  background-color: #FFF8DC;
  border: 1px solid #0C2D48;
}
  
.dark-color-scheme-color-one {
  background-color: #0C2D48;
  border: 1px solid #FFFFFF;
}
  
.dark-color-scheme-color-two {
  background-color: #2b444d;
  border: 1px solid #FFFFFF;
}
  
.dark-color-scheme-color-three {
  background-color: #366088;
  border: 1px solid #FFFFFF;
}
  
.light-text-color {
  color: #FFFFFF;
}
  
.dark-text-color {
  color: #0C2D48;
}

/* class for repeated properties */
.centered-column-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* make the page height the size of the viewport */
/* useful for having footer stick to the bottom */
html, body {
  min-height: 100vh;
}

/* set body as column flex container */
/* flex items (header, main, and footer) spaced to take up entire page */
/* color, text-align, and list-style-position cascaded down to children elements */
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  list-style-position: inside;
  margin: 0;
}

/* sizing main content */
#main {
  width: 70%;
  margin: 1em auto;
  padding: 1em;
  font-size: large;
}

/* add space below nav links */
nav {
  padding-bottom: 1em;
}

/* change mouse cursor when over details elements */
details {
  cursor: pointer;
}

/* create spacing for list items */
li {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* set main content header text/background colors */
/* add font sized-based padding */
#main-header-container {
  padding: 0.5em 3em;
}

.main-content-container {
  padding: 0.5em;
  margin: 0;
}

#page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

#color-mode-btn {
  cursor: pointer;
}

/* hide elements for small and medium screens by default */
.small-screen, .medium-screen {
  display: none;
}

/* query for medium screen widths */
/* hide elements for large screens */
/* display elements for medium screens */
/* change main content font size */
@media screen and (max-width: 780px) {
  .large-screen {
    display: none;
  }

  .medium-screen {
    display: block;
  }

  main {
    font-size: small;
  }
}

/* query for small screen widths */
/* hide elements for medium screens */
/* show elements for small screens */
/* change main content font size */
@media screen and (max-width: 480px) {
  .medium-screen {
    display: none;
  }

  .small-screen {
    display: block;
  }

  details {
    padding-bottom: 1em;
  }

  main {
    font-size: smaller;
  }
}
