/* 
  I certify that the CSS file I am submitting is all my own work. 
  None of it is copied from any source or any person. 
  Signed: Keagan Haar.
*/

/*
  Author: Keagan Haar
  Date: 8/13/2023 
  Class: CSC135 
  Project: Final
  Description: Final project.
*/

/* color schemes all listed below */
.light-color-scheme-color-one {
    background-color: #d4eafe;
    border: 1px solid #0C2D48;
}
  
.light-color-scheme-color-two {
    background-color: #F0FFFF;
    border: 1px solid #0C2D48;
}
  
.light-color-scheme-color-three {
    background-color: #FFF8DC;
    border: 1px solid #0C2D48;
}
  
.dark-color-scheme-color-one {
    background-color: #0C2D48;
    border: 1px solid #FFFFFF;
}
  
.dark-color-scheme-color-two {
    background-color: #2b444d;
    border: 1px solid #FFFFFF;
}
  
.dark-color-scheme-color-three {
    background-color: #366088;
    border: 1px solid #FFFFFF;
}
  
.light-text-color {
    color: #FFFFFF;
}
  
.dark-text-color {
    color: #0C2D48;
}

/* html sizing */
html, body {
    min-height: 100vh;
  }
  
/* Flexing and organizing body */
body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    list-style-position: inside;
    margin: 0;
}

/* Nav padding */
nav {
  padding-bottom: 1em;
}

/* Flexing header */
.centered-column-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Design main */
#main {
    width: 70%;
    margin: 1em auto;
    padding: 1em;
    font-size: large;
}

#main-header-container {
  padding: 0.5em 3em;
}

.main-content-container {
  padding: 0.5em;
}

/* Footer settings */
#page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

/* Form font */
#form {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "info comments"
    "info comments"
    "submit submit";
    text-align: left;
    font-size: 24px;
    margin: 0.5em;
}

/* Prevents textarea from resizing */
.comments {
  resize: none;
}

/* Specific fieldset settings */
#personal-info-fieldset {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#comments-fieldset {
  grid-area: comments;
}

#submit-fieldset {
  grid-area: submit;
}

/* Button cursor */
#color-mode-btn {
    cursor: pointer;
}
  
/* Hide elements when not using */
.small-screen, .medium-screen {
    display: none;
}

/* Necessary breakpoint for textarea */
@media screen and (max-width: 1280px) {
  #form {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "info"
    "comments"
    "submit";
  }
}

/* Medium screen settings */
@media screen and (max-width: 780px) {
    .large-screen {
      display: none;
    }
  
    .medium-screen {
        display: block;
    }
  
    #main {
        font-size: small;  
    }
}
  
/* Small screen settings */
@media screen and (max-width: 480px) {
    .medium-screen {
        display: none;
    }
  
    .small-screen {
        display: block;
    }
  
    details {
      padding-bottom: 1em;
    }
  
    #main {
        font-size: smaller;
    }

    #comments-large {
      display: none;
    }

    #comments-label {
      display: none;
    }
}