/*
  I certify that the CSS file I am submitting is all my own work. 
  None of it is copied from any source or any person. 
  Signed: Keagan Haar, Chase Shertzer.
*/

/*
  Author: Keagan Haar, Chase Shertzer
  Date: 8/13/2023 
  Class: CSC135 
  Project: Final
  Description: Final project.
*/

/* classes for color modes */
.light-color-scheme-color-one {
  background-color: #d4eafe;
  border: 1px solid #0C2D48;
}

.light-color-scheme-color-two {
  background-color: #F0FFFF;
  border: 1px solid #0C2D48;
}

.light-color-scheme-color-three {
  background-color: #FFF8DC;
  border: 1px solid #0C2D48;
}

.dark-color-scheme-color-one {
  background-color: #0C2D48;
  border: 1px solid #FFFFFF;
}

.dark-color-scheme-color-two {
  background-color: #2b444d;
  border: 1px solid #FFFFFF;
}

.dark-color-scheme-color-three {
  background-color: #366088;
  border: 1px solid #FFFFFF;
}

.light-text-color {
  color: #FFFFFF;
}

.dark-text-color {
  color: #0C2D48;
}

/* flexing header */
.centered-column-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* website height */
html, body {
  min-height: 100vh;
}

/* flexing and organizing body */
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  list-style-position: inside;
  margin: 0;
}

/* nav padding */
nav {
  padding-bottom: 1em;
}

img {
  border: 1px solid black;
}

/* organize/design main */
#main {
  width: 70%;
  margin: 1em auto;
  padding: 1em;
  font-size: large;
}

/* main content header design */
#main-header-container {
  padding: 0.5em 3em;
}

.main-content-container {
  padding: 0.5em;
}

#page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

#gifts-and-collectibles-image {
    max-width: 70%;
}

#celtic-alcoholic-beverages-image {
    max-width: 45%;
}

#celtic-foods-image {
    max-width: 37.75%;
}

#color-mode-btn {
  cursor: pointer;
}

/* hide elements for small and medium screens by default */
.small-screen, .medium-screen {
  display: none;
}

/* functionality for smaller screens */
@media screen and (max-width: 780px) {
  #main-content-container {
    display: flex;
    flex-direction: column;
  }

  #celtic-alcoholic-beverages-image {
    max-width: 70%;
}

  #celtic-foods-image {
      max-width: 70%;
  }

  .large-screen {
    display: none;
}

  .medium-screen {
      display: block;
  }

  #main {
      font-size: small;
  }
}

/* query for small screen widths */
/* hide elements for medium screens */
/* show elements for small screens */
/* change main content font size */
@media screen and (max-width: 480px) {
  .medium-screen {
      display: none;
  }

  .small-screen {
      display: block;
  }

  details {
    padding-bottom: 1em;
  }

  #main {
      font-size: smaller;
  }
}